**/.idea/workspace.xml **/.idea/tasks.xml
/bin/videos
/media/sounds/dialogue/level1/riley/messages-old
/media/buttons
/media/fonts
/media/icons
/media/images
/media/overlays
/media/particles
/media/sounds
/media/sprites
/media/tracks
/bin
/bash
/.idea
